/*
Fontes:

- Título
font-family: "Dancing Script", cursive;
- Resto
font-family: "Poppins", sans-serif;


Color:
#6C6038
#D3BCAF
#D9B2A0
#29222A
#362629
*/

body {
    font-family: "Poppins", sans-serif;
}

#cabecalho {
    background-color: #362629;
    color: #D3BCAF;
}

#cabecalho h1 {
    color: #D3BCAF;
    font-family: "Dancing Script", cursive;
}

#navegation li{
    list-style: none;
}

#produtos h3, #cafes h2{
    color: #362629;
    font-family: "Dancing Script", cursive;
}

